.projectCards{
    border:1px dashed rgb(106, 151, 228);
    width:20rem;
    height:20rem;
    display:flex;
    flex-direction: column;
    background-color: rgb(1, 1, 28);
    margin-top:2rem;
    margin-left: 2rem;
    margin-right: 1.3rem;
    margin-bottom: 1rem;
}

.projectImage{
    height:10rem;
    width:100%;
}
.projectDetails{
    height:10rem;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.projectName{
    font-size: 1.5rem;
    font-weight:500;
    margin-bottom: 1rem;
}
.projectGithub a{
    text-decoration: none;
    color:white;
    border: 1px solid white;
    border-radius: 20px;
    padding:0 1rem;
}

.projectImage img{
    height:100%;
    width:100%;
}